[submodule "themes/learn"]
	path = themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "code"]
	path = code
	url = https://github.com/Pi4J/pi4j-example-crowpi.git
	branch = main
