{{ $codePath := strings.TrimPrefix "/" (.Get "file") }}
{{ $codeFile := printf "%s%s" "code/" $codePath }}
{{ $codeURL := printf "%s/%s" (strings.TrimSuffix "/" .Site.Params.codeURL) $codePath }}
{{ $codeContents := readFile $codeFile }}{{ $lang := .Get "language" }}

<!-- Code Block Header -->
<div class="cpi-code-header">
  <!-- Path to file -->
  <div>
    <strong>{{ i18n "pathToCode" }}: </strong>
    {{ (print "`" $codePath "`") | markdownify }}
  </div>

  <!-- View on GitHub -->
  <a href="{{ $codeURL }}" target="_blank" class="btn btn-default">
    <i class="fab fa-github"></i>
    {{ i18n "viewOnGitHub" }}
  </a>
</div>

<!-- Code Block -->
{{ (print "```" $lang "\n" $codeContents "\n```") | markdownify }}
